@model SpaceDash.Models.GameSession

@{
    ViewData["Title"] = "Sudoku Challenge";
}

<div class="card mt-5">
    <div class="card-header text-center">
        <h2>Sudoku Challenge</h2>
        <p>Fill in the grid to solve the Sudoku puzzle.</p>
    </div>
    <div class="card-body text-center">
        <form asp-action="SubmitSudoku" method="post">
            <input type="hidden" name="sessionId" value="@Model.Id">
            <div class="container">
                <div class="row">
                    @for (int i = 0; i < 6; i++)
                    {
                        <div class="col">
                            @for (int j = 0; j < 6; j++)
                            {
                                <input type="text" name="cell[@i][@j]" class="form-control mb-2" maxlength="1" style="width: 50px; display: inline-block; text-align: center;" />
                            }
                        </div>
                    }
                </div>
            </div>
            <button type="submit" class="btn btn-success mt-4">Submit Sudoku</button>
        </form>
    </div>
</div>
